@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;700;800;900&family=Ubuntu:wght@400;700&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  'Lato', sans-serif;;
}

.outer-box{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to top left,#3ed8ff,#a8f5ff);
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    backdrop-filter: blur(8px);
    /* background-color:#ffffff09; */
    background:linear-gradient(to top left,#ffffffff,#ffffff33);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #063a5e;
    z-index: 2;
}

.signup-header h1{
    font-size: 2.5rem;
    color: #212121;

}

.signup-header p{
font-size: 1rem;
color: #555;
}

.Signup-body{
    margin: 20px 0px;
}
.Signup-body p{
    margin: 10px 0px;
}
.Signup-body p label{
    display:block;
    font-weight: bold;
}

.Signup-body p input{
    width: 100%;
    padding: 10px;
    border:2px solid #cccc;
    border-radius: 6px;
 font-size:1rem;
 margin-top:4px;
}

.Signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

.Signup-body p input[type="submit"]:hover{
    background-color: #063a5e;
}

.signup-footer p{
color:#555;
text-align: center;

}

.signup-footer p a{
color: #063a5e;
}

.circle{
width: 200px;
height: 200px;
border-radius: 100px;
background:linear-gradient(to top right,#ffffff33,#ffffffff);
position: absolute;
}

.c1{
    top:100px;
    left:40px;
}
.c2{
    bottom:100px;
    right: 50px;
}